<!-- <div class="content">

    <input #name placeholder="Enter Restaurant Name">
    <input #time placeholder="Enter Time To Deliver">
    <input #ratings placeholder="Enter Ratings">
    <input #categories placeholder="Enter Categories">
    <button (click)="addRestaurant(name.value, time.value, ratings.value, categories.value)">Add</button>

    <h3>List of Restaurants</h3>
    <p *ngFor="let restaurant of restaurants">
        {{restaurant.name}} | {{restaurant.timeToDeliver}} mins 
        <button>Delete</button>
    </p>
</div> -->

<div class="content" *ngIf="!updateMode">
    <button class="btn btn-dark" (click)="changeView()">{{text}}</button>
</div>

<div class="content" *ngIf="addView">
    <h3>{{text}}</h3>
    <!-- <h3>Sign In</h3> -->
    <div class="mb-3">
        <form [formGroup]="restaurantForm" (ngSubmit)="addRestaurantToFirebase()">
        
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="eg: Subway"
            formControlName="name">
            <br>

            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="+91 99999 11111"
            formControlName="phone">
            <br>

            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="restaurant@example.com"
            formControlName="email">
            <br>

            <label for="Veg" class="form-label">Select Type</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="veg">
                <label class="form-check-label" for="flexCheckDefault">
                  Veg
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="nonVeg">
                <label class="form-check-label" for="flexCheckDefault">
                  NonVeg
                </label>
            </div>

            <label for="servingType" class="form-label">Select Serving Type</label> <br>
            <input type="radio" formControlName="servingType" value="delivery"> Delivery <br>
            <input type="radio" formControlName="servingType" value="dining"> Dining <br>
            <input type="radio" formControlName="servingType" value="both"> Both <br>
           
            <select formControlName="city">
                <!-- <option>Ludhiana</option>
                <option>Chandigarh</option> -->
                <option *ngFor="let city of cities">
                    {{city.cityName}}
                </option>

            </select>
            <br>
            <label for="image" class="form-label">Select Image</label> <br>
            <input type="file" formControlName="image" accept="image/*" (change)="pickFile($event)">
            <br>
            <br>
            
            <button type="submit" class="btn btn-dark">{{text}}</button>
            


        </form>
    
        FORM DATA:
        {{restaurantForm.value | json}}
    
    </div>
</div>

<div class="content" *ngIf="!addView">
    <h3>List of Restaurants</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>  
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of restaurantList">
            <td> <img src={{document.imageUrl}} class="rounded-circle" width="64" height="64"> </td>  
            <td>{{document.name}}</td>
            <td>{{document.phone}}</td>
            <td>{{document.email}}</td>
            <td><a routerLink="/dishes" [queryParams]="{id: document.docId, name:document.name}" >DISHES</a></td>
            <td><a routerLink="/restaurants" (click)="deleteRestaurant(document.docId)">DELETE</a></td>
            <td><a routerLink="/restaurants" [queryParams]="{action: 'update'}" (click)="saveDataInSession(document)">UPDATE</a></td>
          </tr>
        </tbody>
      </table>
</div>

<!-- TASK:
Implement the Table View as Grid of Cards
https://getbootstrap.com/docs/5.1/components/card/ -->

