<nav>
  <ul>
    <li><a routerLink="/home" [queryParams]="{name: 'Fionna Flynn'}">Home</a></li>
    <li><a routerLink="/dashboard">DashBoard</a></li>
    <li><a routerLink="/restaurants">Restaurants</a></li>
    <li><a>Dishes</a></li>
    <li><a routerLink="/auth">Register/Login</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/news">News</a></li>
    <!-- <li><a routerLink="/lifecycle">LifeCycle</a></li> -->
  </ul>
</nav>

<div class="content">
  <app-lifecyclehooks *ngIf="show" [quoteVariable]="quote"></app-lifecyclehooks>
  <button (click)="changeQuote()">Change Quote</button>
</div>

<router-outlet></router-outlet>

<p class="content">Footer Can Go Below</p>
