<!-- <p>My Profile</p>
<h4>{{ myProfile.name }}</h4>
<h4>{{ myProfile.about }}</h4>
<h4>{{ myProfile.email }}</h4>
<h4>{{ myProfile.age }}</h4>
<h4>{{ myProfile.gender }}</h4>
<h4>{{ myProfile.address }}</h4>

<div class="center">
    <div class="card">
    <button (click)="onButtonClicked()">Append</button>
    <h4>{{ message }}</h4>
</div>
</div> -->

<div class="content">
    <label for="email">Email ID</label>
    <input type="text" id="email" [formControl]="email">
    <button (click)="validate()">Validate</button>

    EMAIL IS: {{email.value}}
    <br>
    MESSAGE IS: {{message}}

    <br>
    {{userData.email}}
    <br>
    {{userData.uid}}

</div>
