<div class="content">
    <h3>Welcome to DashBoard</h3>

    <!-- <div class="chip" *ngFor="let document of documents | async">
            {{document.title}} | {{document.discount}}
    </div> -->

    <div *ngFor="let document of promoCodeList">
        <!-- {{document | json}} -->
        {{document.title}} | {{document.discount}}
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Discount</th>
            <th scope="col">DiscountType</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of promoCodeList">
            <th scope="row">1</th>
            <td>{{document.title}}</td>
            <td>{{document.discount}}</td>
            <td>{{document.discountType}}</td>
          </tr>
        </tbody>
      </table>

</div>
